body{
background:url('/image/head.jpg') no-repeat top center;
}
a{text-decoration:none;}
.wrap{width:980px;margin:0px auto;padding:0px;text-align:center;}
.body{width:916px;}
ul ,ol,li{margin:0px;padding:0px;list-style-type:none;}
li{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

header {height:103px}
header .navigation{margin:82px auto auto 216px; }
header .navigationitem{float:left;font-size:20px;font-weight:bolder;width:122px;}
header .navigationitem  a{color:#fff; display:block;padding:2px;}
header .navigationitem  a.current,header .navigationitem  a:hover{
	border-radius:5px;
	background-color:#054c01;
	border:solid 1px #022100;
	border-bottom-style:none;
	border-right-style:none;
}

header ul:after,footer ul:after{clear:both;height:0px;display:block;content:"a";visibility:hidden;clear:both;}
.blockborder{border:solid 1px #e2e2e2;border-radius:10px;}





footer ul li{
	float:left;
}
footer hr{
	color:#1c6504;width:100%;
}