table.class{
	margin: 1% 1%;
	border:1px solid #e2e2e2;
	border-radius:10px;
	text-align:left;
	width:98%;
}

.class .preferential,.class .description{
	vertical-align:top;
}

table.class .name{
	background:url('/image/boxcontrol.jpg') repeat-x top center;
}
table.class .name .title{
	float:left;
	display:block;
}
table.class .name .apply{
	float:right;
	display:block
	width:200px;
	height:60px;
	color:red;
}
table.class .name .apply:after{
clear:both;
display:block;
content:
}
.class td.colt{
	width:20%;
}
.class td.colv{
	width:80%;
}
.class td .table{
	width:100%;
	border:1px solid #e2e2e2;
	word-break:break-all;
}
.class td .ul li,.class td .ol li{
	white-space:normal;
	overflow:visible;
	list-style-type:initial;
	margin-left:30px;
	color:#64451D;
	word-break:break-all;
}
.class .t_l:{
	text-align:left;
}
.class .t_r:{
	text-align:right;
}
.class .v_m{
	vertical-align:middle;
}
.class .v_t{
	vertical-align:top;
}
