table.class{
	margin: 1% 1%;
	border:1px solid #e2e2e2;
	border-radius:10px;
	text-align:left;
	width:98%;
}

.class .preferential,.class .description{
	vertical-align:top;
}

table.class .name{
	background:url('/image/boxcontrol.jpg') repeat-x top center;
}
table.class .name .title{
	float:left;
	display:block;
}
table.class .name .apply{
	float:right;
	display:block
	width:200px;
	height:60px;
	color:red;
}
table.class .name .apply:after{
clear:both;
display:block;
content:
}
.class td.colt{
	width:20%;
}
.class td.colv{
	width:80%;
}
.class td.colv .table{
	width:100%;
}